.section_2{
    background-color: 	rgb(18, 11, 55);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        color: #fff;
        font-size: 80px;
    }
   
}